body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #fef8e7;  
  color: #3c2f2f; 
  margin: 0;
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -999px;
  top: 10px;
  background-color: #000;
  color: #fff;
  padding: 8px 12px;

  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: #036;
  text-decoration: none;
  padding: 0.75rem 0;
  font-weight: 500;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 1.25rem;
}

.main-nav ul li a:hover,
.main-nav ul li a:focus {
  color: #0056b3; 
  border-bottom: 2px solid #0056b3;
  outline: none; 
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
}
form button {
  background-color: #0056b3; 
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

form button:hover,
form button:focus {
  background-color: #003f80; 
  outline: none;
}

.site-footer {
  padding: 2rem 0;
}

.skip-link:focus {
  left: 10px;
}
